:root {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: 100%;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container .score-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}